/* Globel */
*{
	position: relative;
	box-sizing: border-box;
	font-family: PingFangTC-Regular;

}
html{
	height: 100%;

}
body{
	font-family: arial;
	height: 100%;
}
a {
    color: #4A4A4A ;
    text-decoration: none;
}
a:hover {
    color: #4A4A4A;
    text-decoration: none;
}
.wrapper{
	height: 100%;
}
.main_bg{
	background: #F5F5F5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* header */
.header{
	position: fixed;
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	top: 0px;
	width: 100%;
	height: 60px;
	background-color: #FFEB64;
	z-index: 10;
	padding: 10px;
}
.title{
	width: 100%;
	text-align: center;
	line-height:40px;
	font-size: 120%;
}

.space{
	height: 60px;
}
.space2{
	height: 70px;
}


/* order box */
.order_list{
	padding-top: 2vh;
	padding-bottom: 2vh;
	/*border-bottom: 1px solid #DADADA;	*/
	/*background-color: #fff;*/
}
.order_box{
	margin: 0vw 0vw 0vw 0vw;
}
.list_title{
	padding: 2vw 0vw 2vw 0vw;
}
.order_card{
	padding: 2vw 0vw 2vw 2vw;
	margin: 0vw 0vw 2vw 0vw;
	border: 1px solid #DADADA;	
	border-radius: 5px;	
	background-color: #FFFFFF;
}
.cart_card{
	padding: 2vw 0vw 2vw 2vw;
	margin: 0vw 0vw 2vw 0vw;
	border: 1px solid #DADADA;	
	border-radius: 5px;	
	background-color: #FCF6B8;
}
.card_left{

}
.order_date{
	color: #7F7F7F;	
	font-size: 13px;	
	line-height: 18px;
}
.rest_name{
	width: 100%;
	/* 讓過長溢出的字省略變 ...  */
	display : block;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}
.order_price{
	padding-top: 2.5vh;
	color: #DA4C5E;
	font-size: 16px;
}
.card_right{
	text-align: center;
}
.number_title{
	color: #FF8A05;
	font-size: 11px;	
	line-height: 18px;
}
.order_number{
	margin: 0px auto;
	margin-top: -0.5vh;
	color: #FF8A05;	
	font-size: 26px;	
	font-weight: 500;	
	line-height: 40px;
}
.order_status{
	margin: 0px auto;
	margin-top: 0.8vh;
	width: 50px;
	color: #7F7F7F;	
	font-size: 11px;
	border: 1px solid #7F7F7F;
	border-radius: 5px;	
}

hr{
	margin-top: 1rem;
    margin-bottom: 0rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.go_home{
/*	position: fixed;
	bottom: 0px;*/
	width: 100%;
    padding: 3vh 2vw 3vh 2vw;
    z-index: 110;
}
.home_buttom{
	width: 100%;
	height: 40px;
	text-align: center;
    line-height: 40px;
    /*margin: 3vh 2vw 3vh 2vw;*/
	border-radius: 5px;	
	background-color: #FFEB64;	
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}

